.login_container {
  margin: 10% auto;
  width: 400px;
  box-shadow: 1px 1px 3px 2px lightgray;
  padding: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
